#container {
  max-width: 600px;
  position: relative;
  border: 1px solid;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

h1 {
  background: yellow;
  text-align: center;
}

.post {
  border: 1px solid;
  margin: 15px;
  width: 28%;
  text-align: center;
}
